<!-- edit an ingredient -->
<section class='heading_section'>
  <!-- back button -->
  <%= link_to '<=', ingredients_path, class: 'back_button' %>
  <!-- edit ingredient heading -->
  <h1>edit: <%= @ingredient.name %></div></h1>
</section>

<!-- shows error if form is filled out incorrectly -->
<% @ingredient.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
<section class='form'>
  <!-- form to edit ingredient -->
  <%= form_for @ingredient do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.submit "update" %></li>
  <% end %>
  <!-- button to delete ingredient -->
  <%= button_to "Delete", @ingredient, method: :delete, data: {confirm: "Are you sure?"} %>
</section>
