<!-- ingredients heading -->
<section class='heading_section'>
  <h1>Ingredients</h1>
</section>

<section class='buttons'>
<!-- list of all ingredients available to the menu -->
  <% @ingredients.each do |ingredient| %>
    <!-- button to edit ingredient -->
    <%= link_to edit_ingredient_path(ingredient), class: 'menu_button' do %>
      <p class='edit'>EDIT</p>
      <%= ingredient.name %>
      <p class='code'><%= ingredient.code %></p>
    <% end %>
  <% end %>
</section>



<section class='form'>
  <!-- create new ingredient -->
  <h4>New ingredient:</h4>
  <!-- error if form filled out incorrectly -->
  <% @ingredient.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  <!-- form to add a new ingredient -->
  <%= form_for @ingredient do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.submit "add", method: :post %></li>
  <% end %>
</section>
