<h1>All Ingredients</h1>

<section class='buttons'>
<!-- list of all ingredients available to the menu -->
  <% @ingredients.each do |ingredient| %>
    <!-- button to edit ingredient -->
    <a href='<%=edit_ingredient_path(ingredient)%>'>
      <div class='menu_button'>EDIT<br><br><span><%= ingredient.name %></span><span><%= ingredient.code %></span></div>
    </a>
    <% end %>
</section>



<section class='new'>
  <h4>New ingredient:</h4>
<!-- error if form filled out incorrectly -->
  <% @ingredient.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  <!-- form to add a new ingredient -->
  <%= form_for @ingredient do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.submit "add", method: :post %></li>
  <% end %>
</section>
