<h2>edit menu</h2>

<%= form_for @food do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.submit "update" %></li>
<% end %>
<%= button_to "Delete", @food, method: :delete, data: {confirm: "Are you sure?"} %>
