<h2>All Ingredients</h2>

<% @foods.each do |food| %>
  <li> <%= food.name %>: <%= food.code %></li>
  <%= link_to 'edit', edit_food_path(food) %>
<% end %>


<h4>Add Ingredient</h4>
<%= form_for @food do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.submit "add", method: :post %></li>
<% end %>
