<!-- form to edit menu item -->
<h2>Edit <%= @item.name %></h2>

<% @item.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_for @item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.submit "Update" %>
<% end %>
<!-- button to delete menu item -->
<%= button_to "Delete", @item, method: :delete, data: {confirm: "Are you sure?"} %>
