<!-- Category submenu-->
<section class='heading_section'>
  <!-- back button -->
  <%= link_to '<=', categories_path, class: 'back_button' %>
  <!-- submenu heading -->
  <h1><%= @category.name %></div></h1>
</section>

<section class='buttons'>
<!-- all submenu items -->
  <% @items.each do |item| %>
    <div class='button_group'>
      <!-- link to item show pages -->
      <%= link_to category_item_path(@category, item), class: 'menu_button' do %>
        <%= item.name %>
        <%= item.code %>
      <% end %>

      <!-- link to edit item -->
      <%= link_to 'edit', edit_category_item_path(@category, item), class: 'edit_button' %>
    </div>
  <% end %>
</section>

<section class='form'>
  <h4>New menu item:</h4>
  <!-- display error if form is not filled correctly -->
  <% @item.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <!-- form to create new item -->
  <%= form_for [@category, @item] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.submit "Create" %>
  <% end %>
</section>
