<!-- Category submenu-->
<h2><%= @category.name %></h2>

<section class='buttons'>
<!-- list of all submenu items -->
  <% @items.each do |item| %>
    <div class='button_group'>
      <!-- link to item show pages -->
      <a href='<%=category_item_path(@category, item)%>'>
        <div class='menu_button'><span><%= item.name %></span><span><%= item.code %></span></div>
      </a>
      <!-- link to edit item -->
      <a href='<%= edit_category_item_path(@category, item) %>'>
        <div class='edit_button'><span>edit</span></div>
      </a>
    </div>
  <% end %>
</section>

<section class='new'>
<h4>New menu item:</h4>
<!-- display error if form is not filled correctly -->
<% @item.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<!-- form to create new item -->
  <%= form_for [@category, @item] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :code %>
    <%= f.text_field :code %>

    <%= f.submit "Create" %>
  <% end %>
</section>
