<!-- form to create new menu item -->
<h2>new menu item </h2>
<% @item.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_for [@category, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.submit "Create" %>
<% end %>
