<h2><%= @item.name %></h2>
<%= link_to "edit", edit_item_path %>
<p>QuickCode: <%= @item.code %></p>

<h3>Ingredients <%= link_to '(+)', new_item_ingredient_path(@item) %></h3>
<% @item.foods.each do |food| %>
  <li>
    <%= food.name %>
    <#%= @ingredients.where(food_id: food.id) %>
    <%= remove_ingredient_item_ingredient_path(@item, food) %>
    <%= button_to "Delete", remove_ingredient_item_ingredient_path(@item, food), method: :delete %>
  </li>
<% end %>
