<!-- menu item name -->
<section class='heading_section'>
  <!-- back button -->
  <%= link_to '<=', category_items_path(@category), class: 'back_button' %>
  <!-- item heading -->
  <h1><%= @item.name %></div></h1>
</section>

<!-- form to add item to order -->
<%= form_for [@category, @item, @order] do |f| %>
  <%= f.label 'special request' %>
  <%= f.text_field :message %>

  <%= f.submit 'add to order' %>
<% end %>

<!-- item's includes subheading -->
<h3>Remove ingredient:</h3>
<section class='buttons'>
  <!-- list of includes -->
  <% @item.ingredients.each do |ingredient| %>
    <div class='button_group'>

      <!-- tests if ingredient already removed -->
      <% if $modifications.include? 'NO ' + ingredient.name %>
        <!-- selected button -->
        <%= link_to category_item_include_remove_without_path(@category, @item, ingredient), class: "menu_button red", method: :delete do %>
          <%= ingredient.name %>
          <br>
          <%= ingredient.code %>
        <% end %>
      <% else %>
        <!-- unselected button -->
        <%= link_to category_item_include_without_path(@category, @item, ingredient), class: "menu_button", method: :post do %>
          <%= ingredient.name %>
          <br>
          <%= ingredient.code %>
        <% end %>
      <% end %>





      <!-- button to delete ingredient -->
      <%= link_to category_item_include_path(@category, @item, ingredient), class: "edit_button", method: :delete  do %>
        remove
      <% end %>
    </div>
  <% end %>
</section>

<section class='form'>
  <!-- form to add include from list of ingredients -->
  <%= form_for [@category, @item, @include] do |f| %>
    <li><%= f.label 'add default ingredient' %>
    <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name) %>

    <%= f.submit "add" %></li>
  <% end %>
</section>

<h3>Add ingredient:</h3>
<section class='buttons'>
  <% @ingredients.each do |ingredient| %>

    <!-- tests if ingredient already added -->
    <% if $modifications.include? 'ADD ' + ingredient.name %>
      <!-- selected button -->
      <%= link_to category_item_include_remove_add_path(@category, @item, ingredient), class: "menu_button green", method: :delete do %>
        <%= ingredient.name %>
        <br>
        <%= ingredient.code %>
      <% end %>
    <% else %>
      <!-- unselected button -->
      <%= link_to category_item_include_add_path(@category, @item, ingredient), class: "menu_button", method: :post do %>
        <%= ingredient.name %>
        <br>
        <%= ingredient.code %>
      <% end %>
    <% end %>
  <% end %>
</section>
