<!-- menu item name -->
<section class='heading_section'>
  <a href='<%= category_items_path(@category) %>'>
    <div class='back_button'><span> <= </span></div>
  </a>
  <h1><%= @item.name %></div></h1>
</section>

<!-- 3 character code to identify menu item -->
<p>QuickCode: <%= @item.code %></p>

<!-- list of ingredients -->
<h3>Ingredients</h3>
<% @item.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %>
  <!-- button to delete ingredient -->
  <%= button_to "remove", category_item_include_destroy_path(@category, @item, ingredient), method: :delete %></li>
<% end %>

<!-- form to add include from list of ingredients -->
<%= form_for [@category, @item, @include] do |f| %>
  <li><%= f.label 'add ingredient' %>
  <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name) %>

  <%= f.submit "add" %></li>
<% end %>
