<h2><%= @item.name %></h2>
<%= link_to "edit", edit_item_path %>
<p>QuickCode: <%= @item.code %></p>

<h3>Ingredients <%= link_to '(+)', new_item_ingredient_path(@item) %></h3>
<% @item.foods.each do |food| %>
  <li><%= food.name %><%= button_to "remove", item_ingredient_destroy_path(@item, food), method: :delete %></li>
<% end %>

<%= form_for [@item, @ingredient] do |f| %>
  <li><%= f.label 'add ingredient' %>
  <%= f.collection_select(:food_id, Food.all, :id, :name) %>

  <%= f.submit "add" %></li>
<% end %>
