<section class='heading_section'>
  <a href='<%= categories_path %>'>
    <div class='back_button'><span> <= </span></div>
  </a>
  <h1>edit: <%= @category.name %></div></h1>
</section>


<!-- error if form is filled out incorrectly -->
<% @category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
<!-- form to edit ingredient -->
<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "update" %></li>
<% end %>
<!-- button to delete ingredient -->
<%= button_to "Delete", @category, method: :delete, data: {confirm: "Are you sure?"} %>
