<section class='heading_section'>
  <h1>Menu</h1>
</section>

<section class='form'>
  <h4>New category:</h4>
  <!-- error if form filled out incorrectly -->
  <% @category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>

  <!-- form to create new category -->
  <%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create" %>
  <% end %>
</section>

<section class='buttons'>
<!-- list of all menu categories -->
  <% @categories.each do |category| %>
    <div class='button_group'>

      <!-- button to category submenu -->
      <a href='<%=category_items_path(category)%>'>
        <div class='menu_button'>
          <span><%= category.name %></span>
        </div>
      </a>

      <!-- button to edit category -->
      <a href='<%= edit_category_path(category) %>'>
        <div class='edit_button'>
          <span>edit</span>
        </div>
      </a>
    </div>
  <% end %>
</section>
