<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class='left'>
      <nav>
        <!-- link to menu home -->
        <%= link_to 'Menu', categories_path, class: 'nav_button' %>

        <!-- link to manage ingredients -->
        <%= link_to 'Ingredients', ingredients_path, class: 'nav_button' %>
      </nav>

      <!-- display flash message -->
      <% flash.each do |type, message| %>
        <p><%= type %>: <%= message %></p>
      <% end %>

      <section id='yield'><%= yield %></section>
    </section>

    <section class='right'>
      <h3>Order</h3>
        <ol>
          <% @orders.each do |order| %>
            <!-- delete item from order -->
            <li><%= link_to '(-)', order_path(order), method: :delete %> <%= order.item %></li>
                <ul>
                  <% if order.modification %>
                    <% order.modification.sort.each do |mod| %>
                      <li><%= mod.to_s %></li>
                    <% end %>
                    <% end %>
                  <% if order.message != "" %>
                    <li> REQUEST: <%= order.message %></li>
                  <% end %>
                </ul>
          <% end %>
        </ol>
    </section>

  </body>
</html>
