<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <!-- link to menu home -->
      <%= link_to 'home', items_path %>
      <!-- link to manage foods -->
      <%= link_to 'manage ingredients', foods_path %>
    </nav>
    
    <!-- display flash message -->
    <% flash.each do |type, message| %>
      <p><%= type %>: <%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
